@{
    ViewData["Title"] = "Home Page";
}




<section class="hero-split py-5">
    <div class="container">
        <div class="row align-items-center g-5">

            <!-- Left Content -->
            <div class="col-lg-6 text-white">
                <h1 class="fw-bold display-5 mb-3">
                    Creating Beautiful & Fast Web Experiences.
                </h1>
                <p class="lead mb-4 text-light">
                    I'm a full-stack developer specializing in clean UI design and scalable backend systems.
                </p>

                <a href="#services" class="btn btn-service me-2">My Services</a>
                <a href="#projects" class="btn btn-outline-light rounded-pill px-4">Projects</a>
            </div>

            <!-- Right Image -->
            <div class="col-lg-6 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ_Zdz56rkA_UpcCUVomYS2-68fCznVYzm9w&s" alt="Profile" class="img-fluid  shadow-lg hero-img">
              
            </div>

        </div>
    </div>
</section>


<section class="py-5 services-area" id="services">
    <div class="container">

        <!-- Section Header -->
        <div class="text-center mt-5 box-header">
            <h2 class="fw-bold">Our Services</h2>
            <p class="text-muted">We offer the best quality for all clients.</p>
        </div>

        <!-- Service Cards -->
        <div class="row g-4">

            <!-- Web Development -->
            <div class="col-md-4">
                <div class="service-card p-4">
                    <h5 class="fw-bold mb-2">Web Development</h5>
                    <p class="text-muted mb-3">
                        Build fast, clean and responsive systems.
                    </p>
                    <a href="#" class="btn btn-service">Learn More</a>
                </div>
            </div>

            <!-- UI/UX Design -->
            <div class="col-md-4">
                <div class="service-card p-4">
                    <h5 class="fw-bold mb-2">UI/UX Design</h5>
                    <p class="text-muted mb-3">
                        Modern user-centric layouts and interfaces.
                    </p>
                    <a href="#" class="btn btn-service">Learn More</a>
                </div>
            </div>

            <!-- API Development -->
            <div class="col-md-4">
                <div class="service-card p-4">
                    <h5 class="fw-bold mb-2">API Development</h5>
                    <p class="text-muted mb-3">
                        Clean, scalable, RESTful API architecture.
                    </p>
                    <a href="#" class="btn btn-service">Learn More</a>
                </div>
            </div>

        </div>
        <!-- End Service Cards -->

    </div>
</section>

